html, body {
  font-family: "SuisseIntl", "Open Sans", "Helvetica Neue", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 1rem;
  color: red;
  text-transform: uppercase;
  font-family: inherit;
}

h2 {
  font-size: 0.9rem;
  color: red;
  text-transform: uppercase;
  font-family: inherit;
}

hr {
  background: #d6d9dc;
  height: 1px;
  border: 0px;
}

.hidden {
  display: none;
}

.red {
  color: Red;
}
.green {
  color: ForestGreen;
}
.centered {
  text-align:center;
}

#popup {
  width: 550px;
  border: 1px solid Gainsboro;
  box-shadow: 3px 2px 5px Gainsboro;
}

#shorten {
  margin: 5px;
  padding: 5px;
}

#go-popup {
  text-align: center;
  padding-bottom: 8px;
}

#url {
  width: 480px;
}

#alias {
  width: 250px;
}

#alias-block img {
  vertical-align: middle
}

#versions {
  font-size: 70%;
}
